- @no_breadcrumb_container = false
- @no_container = false
- @content_class = "limit-container-width" unless fluid_layout
- breadcrumb_title _("Epics")
- page_title "Epics"

-# TODO: Add Epic ID to page title
-# TODO: Add Epic ID to breadcrumb

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'epic_view'

#epic-view-app
